/* Color Palette */
:root {
	--header-black: #111;
	--hero-grey: #ECEFF1;
	--footer-gray: #191919;
	--blockquote-blue: #78909C;
	--architecture-blue: #CFD8DC;
	--subtle-text: #B0BEC5;
	--signup-grey: #37474F;
}

/* Universal Styles*/
body {
	color: #000;
	text-align: center;
	font-family: "Arial", sans-serif;
	max-width: 1080px;
	width: 480px;
}

header,
footer {
	color: #fff;
	padding: 2rem 4rem;
}

header {
	background-color: var(--header-black);
}

footer {
	background-color: var(--footer-gray);
}

/* Typography */
h1,
footer h2 {
	font-family: "Libre Baskerville", serif;
	font-weight: normal;
}

h2 {
	font-family: Georgia, serif;
	font-weight: normal;
}

h3 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

/* Main Content */
main > section {
	padding: 2rem 4rem;
}

.bold {
	font-weight: bold;
}

.hero {
	background-color: var(--hero-grey);
}

.blockquote {
	background-color: var(--blockquote-blue);
	color: #fff;
}

.architecture {
	background-color: var(--architecture-blue);
}

.signup {
	background-color: var(--signup-grey);
}

	.signup > div {
		background-color: #fff;
	}

footer a {
	color: #fff;
	text-decoration: none;
}

footer p {
	color: var(--subtle-text);
}