/* Color Palette */
:root {
	--header-black: #111;
	--hero-grey: #ECEFF1;
	--footer-gray: #191919;
	--blockquote-blue: #78909C;
	--architecture-blue: #CFD8DC;
	--subtle-text: #B0BEC5;
	--signup-grey: #37474F;
}

/* Universal Styles*/
body {
	color: #000;
	text-align: center;
	font-family: "Arial", sans-serif;
	margin: auto;
}

header,
footer {
	color: #fff;
	padding: 2rem;
}

/* Typography */
h1,
footer h2 {
	font-family: "Libre Baskerville", serif;
	font-weight: normal;
	font-size: 3.5rem;
}

h2 {
	font-family: "Georgia", serif;
	font-weight: normal;
	font-size: 2rem;
}

h3 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
}

.bold,
.star {
	font-weight: bold;
}

.star {
	font-family: "Inter", sans-serif;
}

/* Main Content */
header {
	background-color: var(--header-black);
}

	header > div {
		max-width: 1080px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

		header > div h1 > img,
		footer h2 > img {
			max-height: 3.5rem;
		}

	header nav {
		align-content: center;
	}

		header nav ul {
			display: flex;
			gap: 1rem;
		}

		header nav ul,
		footer nav ul {
			list-style: none;
		}

		header nav a {
			color: #fff;
			text-decoration: none;
		}

main > section {
	padding: 4rem 2rem;
}

	main > section > div {
		max-width: 1080px;
		margin: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 2rem;
	}

.fakebtn {
	background: #000;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	width: fit-content;
	padding: 1rem;
	border-radius: 0.375rem;
	margin: auto;
}

.star {
	font-size: 2.5rem;
	display: block;
}

.hero {
	background-color: var(--hero-grey);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2rem;
}

	.hero > img {
		border-radius: 0.5rem;
		width: 100%;
	}

.commitments {
	background-color: #fff;
}

.blockquote {
	background-color: var(--blockquote-blue);
}

	.blockquote > div {
		color: #fff;
		gap: 0;
	}

	.blockquote p {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

.architecture {
	background-color: var(--architecture-blue);
}

	.architecture > .flex-container > section {
		text-align: left;
	}

		.architecture > .flex-container > section ul {
			padding-left: 1rem;
		}

	.architecture > .flex-container img {
		border-radius: 0.5rem;
	}

.signup {
	background-color: var(--signup-grey);
}

	.signup > div > div {
		background-color: #fff;
		border-radius: 0.5rem;
		padding: 4rem 2rem;
		margin: auto;
		min-width: 60%;
	}

footer {
	background-color: var(--footer-gray);
}

	footer h2 {
		margin-bottom: 0;
	}

	footer .flex-container {
		max-width: 1080px;
		margin: auto;
		text-align: left;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

		footer .flex-container > div {
			padding: 0.5rem;
		}

	footer nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		padding: 0.5rem;
	}

		footer nav ul {
			padding-left: 0;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}

		footer nav li span {
			display: block;
		}

	footer a {
		color: #fff;
		text-decoration: none;
	}

	footer p {
		color: var(--subtle-text);
	}

	footer > p {
		padding: 2rem 0;
	}

.terms2 {
	display: none;
}

/* Gallery Content */
.gallery {
	background-color: var(--hero-grey);
}

	.gallery img {
		border-radius: 0.5rem;
		width: 100%;
	}

	.gallery figure {
		margin: 0;
	}

	.gallery > div > article {
		text-align: left;
	}

.quote {
	background-color: #fff;
}

.culture {
	background-color: var(--blockquote-blue);
	color: #fff;
	text-align: left;
}

	.culture h2 {
		margin: 0;
	}

.features {
	background-color: var(--signup-grey);
	color: #fff;
}

	.features h2 {
		margin: 0;
	}

	.features img {
		border-radius: 0.5rem;
	}

	.features > div {
		text-align: left;
	}

	.features li {
		padding: 0.5rem;
	}

	.features figcaption {
		color: var(--subtle-text);
	}

/* Media Queries */

/* Medium */
@media (width >= 720px) {
	.commitments > div .flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

		.commitments > div .flex-container > article {
			text-align: left;
			max-width: 50%;
			padding: 0.5rem;
		}

	.architecture > .flex-container > article {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

		.architecture > .flex-container > article:nth-child(even) {
			flex-direction: row-reverse;
		}

		.architecture > .flex-container > article > * {
			max-width: 50%;
			padding: 0.5rem;
		}

		.architecture > .flex-container > article > img {
			object-fit: contain;
		}

	footer .flex-container > * {
		max-width: 50%;
	}
}

/* Large */
@media (width >= 1080px) {
	.commitments > div .flex-container > article {
		max-width: 33%;
	}

	.architecture > .flex-container {
		gap: 0;
		flex-direction: row;
	}

		.architecture > .flex-container > article,
		.architecture > .flex-container > article:nth-child(even) {
			flex-direction: column;
			max-width: 50%;
		}

			.architecture > .flex-container > article > * {
				max-width: 100%;
			}

	.terms {
		display: none;
	}

	.terms2 {
		display: inline;
	}
}